/* ROOT / BODY */
body {
    background-color: rgba(163, 187, 127, 0.791);
    color: rgb(255, 244, 226);
    font-family: Unica One, sans-serif;
}

main {
    padding-bottom: 5%;
}

/* HEADER */
#title {
    margin-bottom: 0%;
}

#subtitle {
    color: rgba(125, 151, 102, 0.874);
    margin-top: 0%;
    margin-bottom: 4%;
}

/* NAV */
.nav-tabs {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav-option,
.nav-link {
    color: rgba(41, 78, 45, 0.776);
    font-family: Karla, sans-serif;
    font-size: 1.2rem;
    margin: 0%;
    text-decoration: none;
}

.nav-option:hover,
.nav-link:active {
    color: rgb(28, 59, 31);
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: (41, 78, 45, 0.776);
}

/* HEADERS */
h1 {
    display: flex;
    font-size: 3rem;
    justify-content: center;
}

h2 {
    display: flex;
    font-size: 2rem;
    justify-content: left;
    margin-left: 5%;
}

/* ABOUT */
.about-section {
    display: flex;
    justify-content: space-between;
    font-family: Karla, sans-serif;
    font-size: 1.2rem;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 13%;
}

#about-me {
    width: 50%;
}

#pfp {
    height: 100%;
    width: 40%;
    margin-top: 3%;
    opacity: 90%;
}

/* PROJECTS */
h3 {
    display: flex;
    font-family: Karla, sans-serif;
    font-weight: 1000;
    font-size: 1.5rem;
    justify-content: center;
}

.group-img-section,
.solo-img-row-1,
.solo-img-row-2 {
    display: inline-flex;
    justify-content: space-evenly;
    height: 250px;
    width: 100%;
}

.img-title {
    background-color: rgb(63, 95, 66);
    padding-left: 3%;
    padding-bottom: 2%;
}

.img-title a {
    color: rgb(255, 244, 226);
    text-decoration: none;
}

.img-title a:hover {
    color: rgb(149, 178, 137);
}

#group-img-1,
#group-img-2 {
    background-image: url(./assets/imgs/rooms-sc.png);
    width: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: rgb(63, 95, 66);
    border-width: 10px;
    border-radius: 20px;
    border-style: solid;
}

#group-img-1 {
    background-image: url(./assets/imgs/rooms-sc.png);
}

#group-img-2 {
    background-image: url(./assets/imgs/Meal2Reel-Empty-SC.png);
}

img {
    width: 35%;
    border-color: rgba(41, 78, 45, 0.776);
    border-width: 15px;
    border-radius: 20px;
    border-style: double;
}

.title-link {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

#solo-img-1,
#solo-img-2,
#solo-img-3,
#solo-img-4 {
    width: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: rgb(63, 95, 66);
    border-width: 10px;
    border-radius: 20px;
    border-style: solid;
}

#solo-img-1 {
    background-image: url(./assets/imgs/Mandela-Effect-Challenge.png);
}

#solo-img-2 {
    background-image: url(./assets/imgs/LeeQuotes.com-SC.png);
}

#solo-img-3 {
    background-image: url(./assets/imgs/README-gen-SC.png);
}

#solo-img-4 {
    background-image: url(./assets/imgs/employee-tracker.png);
}

/* CONTACT */
.contact-form {
    display: block;
    font-family: Karla, sans-serif;
    margin-top: 5%;
    margin-left: 10%;
    text-decoration: none;
    width: 100%;
    padding-bottom: 20%;
}

#name-div,
#email-div,
#message-div {
    display: flex;
}

#name-label,
#email-label,
#message-label {
    width: 12%;
    font-size: 1.1rem;
}

#name,
#email {
    background-color: rgb(255, 244, 226);
    border: none;
    color: rgba(41, 78, 45, 0.776);
    font-family: Karla, sans-serif;
    font-size: 1.1rem;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 25%;
}

#message {
    background-color: rgb(255, 244, 226);
    border: none;
    color: rgba(41, 78, 45, 0.776);
    font-family: Karla, sans-serif;
    font-size: 1rem;
    margin-right: 1%;
    height: 150px;
    width: 40%;
}

.error {
    color: rgb(189, 7, 7);
    padding-left: 1%;
    margin: 0%;
}

#submit-btn {
    background-color: rgba(41, 78, 45, 0.776);
    border-radius: 5px;
    color: rgb(255, 244, 226);
    font-size: .9rem;
    padding: .8%;
    margin-top: 2%;
    margin-left: 12%;
}

.success {
    color: rgba(41, 78, 45, 0.776);
    font-weight: bolder;
    margin-top: 1%;
    margin-left: 12%;
}

/* RESUME */
.resume-section {
    font-family: Karla, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

.proficiencies {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.2rem;
}

li {
    color: rgba(69, 106, 72, 0.776);
}

.details {
    font-size: 1.2rem;
    text-align: justify;
    margin-left: 6%;
    margin-right: 6%;
    border-bottom: 0.4vw solid rgba(41, 78, 45, 0.776);
}

.education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
    border-bottom: 0.4vw solid rgba(41, 78, 45, 0.776);
}

.edu-info {
    font-size: 1.2rem;
    margin: 0%;
}

.edu-degree {
    color: rgba(125, 151, 102, 0.898);
    font-style: italic;
}

#download-resume {
    font-size: 1.5rem;
    text-align: center;
}

a {
    color: rgba(41, 78, 45, 0.776);
}

/* ERROR PAGE */
#oops {
    justify-content: center;
    font-size: 2.5rem;
}

#error-page {
    font-family: Karla, sans-serif;
    font-size: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

/* FOOTER */
.footer {
    display: block;
    text-align: center;
    margin-bottom: 2%;
}

.footer-option {
    border-style: none;
    width: 4%;
    margin-left: 1%;
    margin-right: 1%;
}