/* ROOT / BODY */
body {
    background-color: rgba(163, 187, 127, 0.791);
    color: rgb(255, 244, 226);
    font-family: Unica One, sans-serif;
}

main {
    padding-bottom: 5%;
}

/* HEADER */
#title {
    margin-bottom: 0%;
}

#subtitle {
    color: rgb(255, 244, 226);
    margin-top: 0%;
    margin-bottom: 4%;
}

/* NAV */
.nav-tabs {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav-option,
.nav-link {
    color: rgba(41, 78, 45, 0.776);
    font-family: Karla, sans-serif;
    font-size: 1.2rem;
    margin: 0%;
    text-decoration: none;
}

.nav-option:hover,
.nav-link:active {
    color: rgb(28, 59, 31);
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: (41, 78, 45, 0.776);
}

/* HEADERS */
h1 {
    display: flex;
    font-size: 3rem;
    justify-content: center;
}

h2 {
    display: flex;
    font-size: 2rem;
    justify-content: left;
    margin-left: 5%;
}

/* ABOUT */
.page-header {
    display: inline-flex;
}

#peace-lily {
    border: none;
    height: 10%;
    width: 20%;

}

.top-row-about {
    display: inline-flex;
    justify-content: space-between;
    font-family: Karla, sans-serif;
    font-size: 1.4rem;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.bottom-row-about {
    display: flex;
    font-family: Karla, sans-serif;
    font-size: 1.4rem;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 13%;
    text-align: justify;
}

#projects-link,
#contact-link {
    color: rgba(28, 59, 31, 0.475);
    text-decoration: none;
}

#about-me {
    width: 50%;
    margin-bottom: 0%;
    margin-right: 10%;
}

#pfp {
    height: 100%;
    width: 40%;
    margin-top: 3%;
    opacity: 90%;
}

/* PROJECTS */
h3 {
    display: flex;
    font-family: Karla, sans-serif;
    font-weight: 1000;
    font-size: 1.5rem;
    justify-content: center;
}

.group-img-section,
.solo-img-row-1,
.solo-img-row-2 {
    display: inline-flex;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;
}

.img-title {
    background-color: rgb(63, 95, 66);
    display: inline-flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 94%;
}

.img-title a {
    color: rgb(255, 244, 226);
    text-decoration: none;
}

.img-title a:hover {
    color: rgb(149, 178, 137);
}

#group-img-1,
#group-img-2,
#solo-img-1,
#solo-img-2,
#solo-img-3,
#solo-img-4 {
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: rgb(63, 95, 66);
    border-width: 10px;
    border-radius: 20px;
    border-style: solid;
}

img {
    border-color: rgba(41, 78, 45, 0.776);
    border-width: 15px;
    border-radius: 20px;
    border-style: double;
}

.title-link {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

#group-img-1 {
    background-image: url(/assets/imgs/rooms-sc.png);
}

#group-img-2 {
    background-image: url(/assets/imgs/Meal2Reel-Empty-SC.png);
}

#solo-img-1 {
    background-image: url(/assets/imgs/Mandela-Effect-Challenge.png);
}

#solo-img-2 {
    background-image: url(/assets/imgs/LeeQuotes.com-SC.png);
}

#solo-img-3 {
    background-image: url(/assets/imgs/README-gen-SC.png);
}

#solo-img-4 {
    background-image: url(/assets/imgs/employee-tracker.png);
}

/* CONTACT */
#contact-page {
    background-image: url(../public/assets/imgs/peace_lily.png);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 85%;
    background-position-y: 10%;
}

.contact-form {
    display: block;
    font-family: Karla, sans-serif;
    margin-top: 5%;
    margin-left: 10%;
    text-decoration: none;
    padding-bottom: 1%;
}

#name-div,
#email-div,
#message-div {
    display: flex;
}

#name-label,
#email-label,
#message-label {
    width: 12%;
    font-size: 1.1rem;
}

#name,
#email {
    background-color: rgb(255, 244, 226);
    border: none;
    color: rgba(41, 78, 45, 0.776);
    font-family: Karla, sans-serif;
    font-size: 1.1rem;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 25%;
}

#message {
    background-color: rgb(255, 244, 226);
    border: none;
    color: rgba(41, 78, 45, 0.776);
    font-family: Karla, sans-serif;
    font-size: 1rem;
    margin-right: 1%;
    height: 150px;
    width: 40%;
}

.error {
    color: rgb(189, 7, 7);
    padding-left: 1%;
    margin: 0%;
}

#submit-btn {
    background-color: rgba(41, 78, 45, 0.776);
    border-radius: 5px;
    color: rgb(255, 244, 226);
    font-size: .9rem;
    padding: .8%;
    margin-top: 2%;
    margin-left: 12%;
}

.success {
    color: rgba(41, 78, 45, 0.776);
    font-weight: bolder;
    margin-top: 1%;
    margin-left: 12%;
}

.contact-info {
    display: block;
    font-family: Karla, sans-serif;
    font-size: 1.1rem;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    text-align: center;
}

#a-1,
#a-2,
#a-3 {
    text-decoration: none;
    border-bottom: 0.2vw solid rgba(41, 78, 45, 0.776);
}

/* RESUME */
.resume-section {
    font-family: Karla, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

.proficiencies {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.2rem;
}

ul {
    padding-left: 0%;
}

li {
    color: rgba(69, 106, 72, 0.776);
}

.details {
    font-size: 1.2rem;
    text-align: justify;
    margin-left: 6%;
    margin-right: 6%;
    border-bottom: 0.4vw solid rgba(41, 78, 45, 0.776);
}

.education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
    border-bottom: 0.4vw solid rgba(41, 78, 45, 0.776);
}

.edu-info {
    font-size: 1.2rem;
    margin: 0%;
}

.edu-degree {
    color: rgba(125, 151, 102, 0.898);
    font-style: italic;
}

#download-resume {
    font-size: 1.5rem;
    text-align: center;
}

a {
    color: rgba(41, 78, 45, 0.776);
}

/* ERROR PAGE */
#oops {
    justify-content: center;
    font-size: 2.5rem;
}

#error-page {
    font-family: Karla, sans-serif;
    font-size: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

/* FOOTER */
.footer {
    display: block;
    text-align: center;
    margin-bottom: 2%;
    font-size: 1.2rem;
}

.footer-option {
    border-style: none;
    width: 4%;
    margin-left: 1%;
    margin-right: 1%;
}

/* RESPONSIVENESS */

/* XS */
@media (min-width: 300px) and (max-width: 400px) {
    #title {
        font-size: 2.6rem;
    }

    #subtitle {
        font-size: 1.4rem;
    }

    .nav-option,
    .nav-link {
        font-size: .95rem;
    }

    .top-row-about,
    .bottom-row-about {
        display: block;
        text-align: justify;
        font-size: .8rem;
        padding-bottom: 0%;
    }

    #about-me {
        width: 100%;
    }

    #pfp {
        width: 50%;
        border-width: 10px;
        margin-left: 22%;
        margin-top: 2%;
    }

    .group-img-section,
    .solo-img-row-1,
    .solo-img-row-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
    }

    #group-img-1,
    #group-img-2,
    #solo-img-1,
    #solo-img-3,
    #solo-img-4 {
        width: 80%;
        height: 300px;
        border-width: 5px;
        margin-bottom: 5%;
    }

    #solo-img-2 {
        width: 80%;
        height: 300px;
        border-width: 5px;
        margin-bottom: -5%;
    }

    .img-title a {
        font-size: .7rem;
    }

    #contact-page {
        background-image: none;
    }

    #name-label,
    #email-label,
    #message-label {
        font-size: .8rem;
        width: 25%;
    }

    #name,
    #email,
    #message {
        width: 40%;
    }

    .error {
        font-size: .8rem;
    }

    #submit-btn {
        font-size: .65rem;
        margin-left: 25%;
    }

    .contact-info {
        font-size: .9rem;
    }

    .resume-section {
        margin-left: 5%;
        margin-right: 5%;
    }

    .proficiencies,
    .details,
    .edu-info,
    .edu-degree {
        font-size: .7rem;
    }

    #download-resume {
        font-size: .85rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .footer {
        font-size: .8rem;
    }

}

/* S */
@media (min-width: 401px) and (max-width: 600px) {

    .nav-option,
    .nav-link {
        font-size: 1.05rem;
    }

    .top-row-about,
    .bottom-row-about {
        display: block;
        text-align: justify;
        font-size: .95rem;
        padding-bottom: 0%;
    }

    #about-me {
        width: 100%;
    }

    #pfp {
        width: 50%;
        border-width: 10px;
        margin-left: 22%;
        margin-top: 2%;
    }

    .group-img-section,
    .solo-img-row-1,
    .solo-img-row-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
    }

    #group-img-1,
    #group-img-2,
    #solo-img-1,
    #solo-img-3,
    #solo-img-4 {
        width: 80%;
        height: 300px;
        border-width: 5px;
        margin-bottom: 5%;
    }

    #solo-img-2 {
        width: 80%;
        height: 300px;
        border-width: 5px;
        margin-bottom: -5%;
    }

    .img-title a {
        font-size: .7rem;
    }

    #contact-page {
        background-image: none;
    }

    #name-label,
    #email-label,
    #message-label {
        font-size: .8rem;
        width: 20%;
    }

    #name,
    #email,
    #message {
        width: 50%;
    }

    .error {
        font-size: .8rem;
    }

    #submit-btn {
        font-size: .7rem;
        margin-left: 20%;
    }

    .contact-info {
        font-size: .9rem;
    }

    .resume-section {
        margin-left: 5%;
        margin-right: 5%;
    }

    .proficiencies,
    .details,
    .edu-info,
    .edu-degree {
        font-size: .7rem;
    }

    #download-resume {
        font-size: .85rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .footer {
        font-size: .9rem;
    }
}

/* M */
@media (min-width: 601px) and (max-width: 700px) {
    #pfp {
        width: 40%;
    }

    .top-row-about,
    .bottom-row-about {
        font-size: 1rem;
        padding-bottom: 0%;
    }

    .group-img-section,
    .solo-img-row-1,
    .solo-img-row-2 {
        height: 200px;
    }

    #group-img-1,
    #group-img-2,
    #solo-img-1,
    #solo-img-2,
    #solo-img-3,
    #solo-img-4 {
        border-width: 5px;
    }

    .img-title a {
        font-size: .8rem;
    }

    #contact-page {
        background-image: none;
    }

    #name-label,
    #email-label,
    #message-label {
        font-size: .9rem;
        width: 20%;
    }

    #name,
    #email,
    #message {
        width: 50%;
    }

    .error {
        font-size: .8rem;
    }

    #submit-btn {
        font-size: .8rem;
        margin-left: 20%;
    }

    .contact-info {
        font-size: .9rem;
    }

    .resume-section {
        margin-left: 5%;
        margin-right: 5%;
    }

    .proficiencies,
    .details,
    .edu-info,
    .edu-degree,
    #download-resume {
        font-size: .9rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .footer {
        font-size: 1rem;
    }
}

/* L */
@media (min-width: 701px) and (max-width: 800px) {

    .top-row-about,
    .bottom-row-about {
        font-size: 1.05rem;
    }

    #pfp {
        width: 35%;
    }

    .group-img-section,
    .solo-img-row-1,
    .solo-img-row-2 {
        height: 200px;
    }

    #group-img-1,
    #group-img-2,
    #solo-img-1,
    #solo-img-2,
    #solo-img-3,
    #solo-img-4 {
        border-width: 5px;
    }

    .img-title a {
        font-size: .9rem;
    }

    #contact-page {
        background-size: 35%;
        background-position-x: 90%;
        background-position-y: 20%;
    }

    #name-label,
    #email-label,
    #message-label {
        font-size: .9rem;
        width: 15%;
    }

    .error {
        font-size: .8rem;
    }

    #submit-btn {
        font-size: .8rem;
        margin-left: 15%;
    }

    .contact-info {
        font-size: 1rem;
    }

    .proficiencies,
    .details,
    .edu-info,
    .edu-degree,
    #download-resume {
        font-size: 1rem;
    }

    h3 {
        font-size: 1.3rem;
    }
}

/* L */
@media (min-width: 801px) and (max-width: 900px) {
    #about-me {
        width: 55%;
    }

    #pfp {
        width: 30%;
    }

    .group-img-section,
    .solo-img-row-1,
    .solo-img-row-2 {
        height: 225px;
    }

    #group-img-1,
    #group-img-2,
    #solo-img-1,
    #solo-img-2,
    #solo-img-3,
    #solo-img-4 {
        border-width: 5px;
    }

    .img-title a {
        font-size: 1rem;
    }

    #contact-page {
        background-position-x: 90%;
        background-position-y: 20%;
    }

    #name-label,
    #email-label,
    #message-label {
        font-size: 1rem;
        width: 15%;
    }

    #submit-btn {
        font-size: .8rem;
        margin-left: 15%;
    }

    .contact-info {
        font-size: 1rem;
    }

    .proficiencies,
    .details,
    .edu-info,
    .edu-degree,
    #download-resume {
        font-size: 1rem;
    }

    h3 {
        font-size: 1.3rem;
    }
}

/* XL */
@media (min-width: 901px) and (max-width: 1100px) {
    #about-me {
        width: 70%;
        margin-right: 12%;
    }

    #pfp {
        width: 28%;
    }

    #contact-page {
        background-size: 25%;
        background-position-y: 20%;
    }
}

/* XXL */
@media (min-width: 1101px) and (max-width: 1200px) {
    .top-row-about {
        justify-content: left;
    }

    #about-me {
        width: 50%;
    }

    #about-me-2 {
        width: 50%;
        margin-top: 3%;
    }

    #pfp {
        width: 30%;
        margin-top: 2%;
    }

    #contact-page {
        background-size: 25%;
        background-position-y: 15%;
    }
}

/* XXL */
@media (min-width: 1201px) and (max-width: 1300px) {
    .top-row-about {
        justify-content: left;
    }

    #about-me {
        width: 50%;
    }

    #about-me-2 {
        width: 50%;
        margin-top: -2%;
    }

    #pfp {
        width: 30%;
        margin-top: 2%;
    }

    #contact-page {
        background-size: 20%;
        background-position-x: 80%;
        background-position-y: 15%;
    }
}

/* XXL */
@media (min-width: 1301px) and (max-width: 1400px) {

    .nav-option,
    .nav-link {
        font-size: 1.4rem;
    }

    .top-row-about {
        justify-content: left;
    }

    #about-me {
        width: 50%;
    }

    #about-me-2 {
        width: 50%;
        margin-top: -3%;
    }

    #pfp {
        width: 30%;
        margin-top: 2%;
    }

    #contact-page {
        background-size: 20%;
        background-position-x: 80%;
        background-position-y: 15%;
    }
}

/* XXL */
@media (min-width: 1401px) and (max-width: 1500px) {

    .nav-option,
    .nav-link {
        font-size: 1.4rem;
    }

    .top-row-about {
        justify-content: left;
    }

    #about-me {
        width: 50%;
    }

    #about-me-2 {
        width: 50%;
        margin-top: -12%;
    }

    #pfp {
        width: 30%;
        margin-top: 2%;
    }

    #contact-page {
        background-size: 20%;
        background-position-x: 80%;
        background-position-y: 15%;
    }
}

/* XXL */
@media (min-width: 1501px) and (max-width: 1600px) {

    .nav-option,
    .nav-link {
        font-size: 1.5rem;
    }

    .top-row-about {
        justify-content: left;
    }

    #about-me {
        width: 50%;
    }

    #about-me-2 {
        width: 50%;
        margin-top: -12%;
    }

    #pfp {
        width: 30%;
        margin-top: 2%;
    }

    #contact-page {
        background-size: 20%;
        background-position-x: 80%;
        background-position-y: 15%;
    }
}

/* XXL */
@media (min-width: 1601px) and (max-width: 1800px) {

    .nav-option,
    .nav-link {
        font-size: 1.5rem;
    }

    .top-row-about {
        justify-content: left;
    }

    #about-me {
        width: 50%;
    }

    #about-me-2 {
        width: 50%;
        margin-top: -15%;
    }

    #pfp {
        width: 30%;
        margin-top: 2%;
    }

    #contact-page {
        background-size: 18%;
        background-position-x: 80%;
        background-position-y: 15%;
    }
}