/* ROOT / BODY */
body {
    background-color: rgba(179, 209, 134, 0.764);
    font-family: Unica One, sans-serif;
}

/* NAV */
.nav-tabs {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav-option,
.nav-link {
    color: black;
    font-family: Karla, sans-serif;
    text-decoration: none;
}

/* HEADERS */
h1 {
    color: black;
    display: flex;
    justify-content: center;
}

h2 {
    color: black;
    display: flex;
    justify-content: left;
    margin-left: 3%;
}